{{> header}}

<main class="content">

	<div class="comfirm_div">
	<h3>Your ride is booked! </h3>
		<div class="ride_info">
      	{{#each posts}}
        {{> confirmPost}}
        {{/each}}
		</div>
		
	</div>


    </main>