{{> header}}

<main class="content">

      <section id="posts">

      {{#each posts}}
      {{> newPost}}
      {{/each}}
	  
      </section>

</main>

    <button type="button" id="filter-button"><i class="fa fa-filter"></i></button>

    <div id="model-backdrop" class="hidden"></div>
    
    <div id="filter-model" class="hidden">
      <div class="model-dialog">

        <div class="model-header">
          <h3>Filter</h3>
          <button type="button" id="model-close" class="model-hide-button">&times;</button>
        </div>

        <div class="model-body">

          <div class="filter-input-container">
            <label for="filter-min-price" class="filter-input-label">Price</label>
            <input type="number" name="filter-min-price" id="filter-min-price" class="filter-input" placeholder="min">
            <input type="number" name="filter-max-price" id="filter-max-price" class="filter-input" placeholder="max">
          </div>

          <div class="filter-input-container">
            <label for="filter-max-passengers" class="filter-input-label">Maximum number of passengers carried</label>
            <input type="number" name="filter-max-passengers" id="filter-max-passengers" class="filter-input" placeholder="max">
          </div>

        </div>

        <div class="model-footer">
          <button type="button" id="model-cancel" class="model-hide-button action-button">Cancel</button>
          <button type="button" id="model-accept" class="action-button">Filter</button>
        </div>

      </div>
    </div>

    <div id="book-a-car" class="hidden">
      <div class="model-dialog">
      <form method="post" action="/confirm">
        <div class="model-header">
          <h3>Book a ride</h3>
          <button type="button" id="model-close2" class="model-hide-button">&times;</button>
        </div>

        <div class="model-body">

          <div class="book-input-container">
            <label for="passenger-name" class="input-name">Name</label>
            <input type="text" name="passenger[name]" id="book-passenger-name" class="book-input" placeholder="Name">
          </div>

          <div class="book-input-container">
            <label for="pick-up-location" class="input-location">Pick-up Location</label>
            <input type="text" name="passenger[location]" id="book-pick-up-location" class="book-input" placeholder="Pick-up Location">
          </div>

          <div class="book-input-container">
            <label for="destination" class="input-destination">Destination</label>
            <input type="text" name="passenger[destination]" id="book-destination" class="book-input" placeholder="Destination">
          </div>        
        </div>

        <div class="hide_driverName">
            <input type="text" name="passenger[DriverName]" id="book-DriverName" >
        </div>

        <div class="model-footer">
          <button type="button" id="model-cancel2" class="model-hide-button action-button">Cancel</button>
          <button type="submit" id="model-accept2" class="action-button">Confirm</button>
        </div>
        </form>
      </div>
    </div>