 {{>header}}
 
 <main class="content">
      <aside class="filter-container">
    <div class="selection" >
	  <div id="driver" class="driver">
       Driver
	   </div>
      <div id="passenger" class="passenger">
        Passenger
	  </div>
    </div>  

<div id="driverDiv" class="driverDiv">	
    <div class="filter-input-container">
          <label for="filter-text" class="filter-input-label">Name:</label>
          <input type="text" name="filter-text" id="filter-text" class="filter-input">
    </div>

    <div class="filter-input-container">
          <label for="filter-min-price" class="filter-input-label">Price:</label>
          <input type="number" name="filter-min-price" id="filter-min-price" class="filter-input"	>
    </div>	
	
	 <div class="filter-input-container">
          <label for="filter-min-price" class="filter-input-label">Car Image:</label>
          <input type="text" name="filter-min-car" id="filter-min-car" class="filter-input">
    </div>	
	
	 <div class="filter-input-container">
          <label for="filter-min-price" class="filter-input-label">License No:</label>
          <input type="text" name="filter-min-license" id="filter-min-license" class="filter-input">
    </div>	
	
	<div class="filter-input-container">
          <label for="filter-min-price" class="filter-input-label">Maximum No. of people:</label>
          <input type="number" name="filter-min-max" id="filter-min-max" class="filter-input">
    </div>	
	
	<button id="update-button" class="action-button">Register</button>
	
	</div>
	
	<div id="passengerDiv" class="passengerDiv">
	
	  <div class="filter-input-container">
          <label for="filter-text" class="filter-input-label">Name:</label>
          <input type="text" name="filter-text" id="filter-text" class="filter-input">
    </div>
	

	  <div class="filter-input-container">
          <label for="filter-text" class="filter-input-label">Price:</label>
          <input type="number" name="filter-text" id="filter-text" class="filter-input">
    </div>


	  <div class="filter-input-container">
          <label for="filter-text" class="filter-input-label">No. of Passengers:</label>
          <input type="number" name="filter-text" id="filter-text" class="filter-input">
    </div>


    <div class="filter-input-container">
          <label for="filter-min-price" class="filter-input-label">Destination:</label>
          <input type="text" name="filter-min-price" id="filter-min-price" class="filter-input">
    </div>	
	
	<button id="search-button" class="action-button">Search</button>
	
	</div>


      </aside>
    </main>