body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
    background-image: url("osu2.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
  }

.logo
{
  margin:10px 0 0 10px;
  width:140px;
  height:140px;
}

a {
  text-decoration: none;
  color: #f67811;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #DC4405;
  align-items: center;
  display: flex;
  position: relative;
}

header a {
  color: #fff;
}

.filter-container {
  min-width: 350px;
  max-width: 350px;
  height:400px;
  margin: 40px 220px auto auto;
  border-radius: 3px;
  background-color: #efefef;

}

.filter-container h2 {
  margin: 0;
  
}
  
.filter-input-container {
  width: 100%;
  margin: 20px 0 0 10px;
  align-items: center;
  display: flex;
  align-items: center;
}
  
.site-title {
  font-family: "Roboto Slab", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
  color:black;
}

.site-title a:hover {
  text-decoration: none;
} 



.hidden {
  display: none;
}
.selection{
  display:flex;
    height:50px;
  }
.passenger
{
  width:50%;
  text-align:center;
  height:auto;
    padding:20px;
}
.driver
{
  width:50%;
  text-align:center;
  height:auto;
  padding:20px;
}
.selected
{
  background-color:#DC4405;
  color:white;
}

.action-button{
  margin:20px 0 0 20px;
}
.filter-input {
  font-size: 14px;
  width: 30%;
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #dadada;
  border-radius: 3px;
}